a {
  text-decoration: none;
}
ul {
  list-style: none;
}

.wraper {
  max-width: 1280px;
  margin: 0 auto;
  color: #000;
  font-family: "Roboto", sans-serif;
}
.title {
  margin-top: 63px;
  margin-bottom: 40px;
}
.title-link {
  color: #000;
  font-weight: 400;
  font-size: 80px;
  text-align: center;
}
.title-accent {
  color: #4bcaff;
}
.nav-list {
  background-color: #35444f;
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
}
.nav-link {
  color: white;
  padding: 25px 40px 19px;
  display: block;
  border-right: 1px solid white;
  font-weight: 400;
  font-size: 24px;
  transition: 0.7s;
}
.nav-item:first-child {
  border-left: 1px solid white;
}
.nav-link:hover {
  background-color: #222f3a;
}
/*! ======================aside==================== */
.aside-nav {
  margin-right: 52px;
  width: 344px;
}
.aside-list {
  max-width: 344px;
  border: 1px solid #000;
  margin: 0;
  padding: 0;
}

.aside-link {
  font-weight: 400;
  font-size: 27px;
  line-height: 100%;
  color: #495863;
  display: block;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 44px;
  transition: 0.7s;
}
.aside-link:hover {
  background-color: #dbdbdb;
  padding-left: 70px;
  color: #000;
}
/*! =======================RAMDA============================== */

.page-content {
  display: flex;
}
.ramda-section {
  max-width: 885px;
}

.img-conteiner {
  border: 1px solid black;
  height: 529px;
}
.section-img {
  margin: 75px 282px;
  transition: 0.7s;
}
.section-img:hover {
  transform: scale(1.2);
}

.txt-conteiner {
  margin-top: 37px;
  margin-bottom: 50px;
}
/* !===========footer================= */

.page-footer {
  display: flex;
  justify-content: space-between;
  background: rgba(99, 105, 110, 0.48);
  height: 70px;
  margin-bottom: 30px;
}
.footer-list {
  display: flex;
  margin: auto 0;
}
.footer-link {
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: #010101;
  margin-right: 40px;
  transition: 0.7s;
}
.footer-link:hover {
  color: #3181a6;
}
.copy {
  margin: auto 40px;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
}
